<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoki.vetuco" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Contacto"
            android:label="@string/title_activity_contacto" >
        </activity>
        <activity
            android:name=".Tarifas"
            android:label="@string/title_activity_tarifas" >
        </activity>
        <activity
            android:name=".Informacion"
            android:label="@string/title_activity_informacion" >
        </activity>
        <activity
            android:name=".Galeria"
            android:label="@string/title_activity_galeria" >
        </activity>
        <activity
            android:name=".Horario"
            android:label="@string/title_activity_horario" >
        </activity>
        <activity
            android:name=".Localizacion"
            android:label="@string/title_activity_localizacion" >
        </activity>
        <activity
            android:name=".Reserva"
            android:label="@string/title_activity_reserva" >
        </activity>



    </application>

</manifest>
